* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #00a9e0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
}
   
main {
    height: 100vh;
    background-color: gray;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}

header img {
    position: absolute;
    bottom: 0;
    right: -40%;
    height: 50%;
    
}

header nav {
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 3rem;
}

header hgroup {
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    z-index: 1;
    
}

header h1 {
    font-size: 5rem;
}

header h3 {
    font-size: 3.5rem;
    
}

#arrow {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 3px solid black;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    font-size: 3.5rem;
    text-align:center;
    text-shadow: 0px 15px 0 black, 0px 30px 0 black;  
    overflow: hidden;
    transition: 1s ease;
}

#arrow:hover {
    text-shadow: 0px 15px 0 white, 0px 30px 0 white; 
    color: white;
    border-color: white;
    background-color: black;
    cursor: pointer;
}

@media (orientation: portrait) {
    h3 span::after {
        content: '\A';
        white-space: pre;
    }
}

@media (orientation: landscape) {
    header img {
    right: 0;
    height: 60%;
    }
    
    header hgroup {
    top: 15%;
    left: 10%;
    }
    
    header nav {
    top: 5%;
    } 
}

@media (min-width: 530px) {
    header h3 {
        font-size: 10rem;
    }
}

@media (min-width: 768px) {
    header h3 {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    header h3 {
        font-size: 10rem;
    }
}

@media (min-width: 1288px) {
    header h3 {
        font-size: 10rem;
    }
}

@media (min-width: 1600px) {
    header h3 {
        font-size: 10rem;
    }
}

@media (max-width: 320px) {
    header h3 {
        font-size: 2.4rem;
    }
    header hgroup {
        transform: rotate(-15deg);
    }
}

.fa-angle-down {
    animation: arrow 1.4s infinite linear;
}

@keyframes arrow {
    0% {transform: translateY(-80px)}
    50% {transform: translateY(0px)}
    100% {transform: translateY(80px)}
}